VITE_APP_NAME="Jog Journal"
VITE_NODE_ENV="" # pick "test", "development" or "production"

# FIREBASE
VITE_FIREBASE_API_KEY=""
VITE_FIREBASE_AUTH_DOMAIN=""
VITE_FIREBASE_PROJECT_ID=""
VITE_FIREBASE_STORAGE_BUCKET=""
VITE_FIREBASE_MESSAGING_SENDER_ID=""
VITE_FIREBASE_APP_ID=""
VITE_FIREBASE_PROJECT_ENVIRONMENT=""
