.header-wrapper {
  display: flex;
  background-color: var(--bg-header);
  color: var(--text-dark);
  justify-content: space-between;
  width: 100%;
}

.title {
  font-size: 44px;
  margin: 0;
  padding-left: 1.5vw;
}

.slogan {
  font-size: 18px;
  position: relative;
  transform: translateY(20%);
  padding-right: 2vw;
}
