@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@import './constants.css';

.stats-wrapper {
  @apply w-3/5 flex flex-col items-center-safe;
  /* width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center; */
}

/* CSS for progress bar placeholder from the ProgressBar component */
.progress-placeholder {
  @apply mt-[3.125rem] min-w-[18.75rem] min-h-[18.75rem] bg-[var(--bg-progress-bar)] rounded-full flex flex-col justify-center items-center;
  /* margin-top: 3.125rem;
  min-width: 18.75rem;
  min-height: 18.75rem;
  background-color: var(--bg-progress-bar);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.stats-grid {
  margin-top: 3.125rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 0.625rem 3.125rem;
}
