@import 'tailwindcss';
@import './constants.css';

@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

.tracker-wrapper {
  @apply min-w-2/3 flex flex-col items-center;
  /* min-width: 67%;
  display: flex;
  flex-direction: column;
  align-items: center; */
}
